<div class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">
	<div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="/">
                    <i class="pe-7s-graph3"></i>
                    <p>Top Keywords</p>
                </a>
            </li>
            <li>
                <a href="/keyword_usage">
                    <i class="pe-7s-graph2"></i>
                    <p>Keyword Usage</p>
                </a>
            </li>
            <li>
                <a href="/conversations">
                    <i class="pe-7s-graph3"></i>
                    <p>Conversations</p>
                </a>
            </li>
        </ul>
	</div>
</div>